header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid black;
}

#left-side button {
    margin-left: 20px;
    margin-right: 10px;
}

#right-side button {
    margin-left: 20px;
    margin-right: 20px;
}
 
#left-side {
    display: flex;
    align-items: flex-start;
}

#right-side {
    display: flex;
    justify-content: flex-end;
}