#character-card {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 220px;
    border: 2px solid black;
}

#top-half {
    display: flex;
    height: 70%;

}

#bottom-half {
    display: flex;
    height: 30%;
    align-items: flex-end;
    justify-content: space-evenly;
}

img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}