#character-card-display{
    display: flex;
    min-height: 85vh;
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 6px;
}